--- 
--- 
@import "{{ site.theme }}";

.titulo{
    text-align: center;
}



.lista .menu-item {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 180px;
    }

.menu{
    list-style: none;
    display: block;
   text-decoration: none;
   color: #E2144A;
   background: #fff;
   padding: 5px;
   font-size: 1.3em;
  // border: 1px solid #ccc;
}
    
.sub-lista{
    position: fixed;
    left: 35%;
    //top: 0;
    display: none;
}

 .menu-item a {
    display: block;
   text-decoration: none;
   color: #E2144A;
   background: #fff;
   padding: 5px;
  // border: 1px solid #ccc;
}

.menu:hover .sub-lista{display: block;}


