--- 
--- 
@import "{{ site.theme }}";

.titulo{
    text-align: center;
}

.lista{
    position: relative;
    width: 110px;
}


 .sub-lista {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 190px;
    //font-size: 0.9em;
    }

.lista .menu{
    position: relative;
}

.menu{
    list-style: none;
    display: block;
   text-decoration: none;
   color: #E2144A;
   background: #fff;
   padding: 2px;
   font-size: 1.2em;
}
    
.sub-lista{
    position: absolute;
    left: 110px;
    top: 0;
    display: none;
}

.lista .menu .menu-item a {
    display: block;
   text-decoration: none;
   color: #E2144A;
   background: #fff;
   padding: 2px;
}



.menu:hover .sub-lista{display: block;}


